<div class="socials">
    <ul>
        <li>
            <a href="https://www.facebook.com/TheYoungScholar/" 
                title="Visit our Facebook page"
               target="_blank" 
               rel="noopener noreferrer" 
               aria-label="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/TheYoungScholar" 
                title="Visit our Twitter profile"
               target="_blank" 
               rel="noopener noreferrer" 
               aria-label="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/" 
                title="Visit our LinkedIn page"
               target="_blank" 
               rel="noopener noreferrer" 
               aria-label="LinkedIn">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
    </ul>
</div>
<div id="copyright">
    <p>&copy; <span id="current-year"></span> The Young Scholar. All rights reserved.</p>
</div>
